.output {
    border-style: dotted;
    border-color: black;
    border-radius: 1cm;
    margin: 3%;
    padding: 2%;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text {
    font-size: x-large;
    font-family:'Courier New', Courier, monospace;
}