.output {
    border-style: dotted;
    border-color: black;
    border-radius: 1cm;
    margin: 3%;
    padding: 2%;
    font-size: xx-large;
    white-space: pre-line;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text {
    font-size: xx-large;
    font-family:'Courier New', Courier, monospace;
}